* {
	font-family: 'Shippori Antique B1', sans-serif;
}

.PageWrapper {
	padding: 0 25px;
	margin: 0 auto;
	max-width: 1200px;
}
.Error {
	color: red;
	font-weight: bold;
}

.Header {
	align-items: center;
	display: flex;
	justify-content: space-between;
	padding: 20px 25px;
}

.Header .Logo {
	font-size: 18px;
	font-weight: bold;
}

.Header nav {
	display: flex;
}

.Header nav a {
	color: rgb(0, 0, 0);
	font-size: 16px;
	margin: 0 10px;
	padding: 2px 10px;
	text-decoration: underline;
}

.Header nav a:last-child {
	margin-right: 0;
	padding-right: 0;
}

.Form form {
	display: flex;
	flex-direction: column;
	max-width: 500px;
}

.Form input {
	margin-bottom: 30px;
	padding: 10px 5px;
}
