* {
	font-family: 'Shippori Antique B1', sans-serif;
}

.Header {
	align-items: center;
	display: flex;
	justify-content: space-between;
	padding: 20px 25px;
}

.Header .Logo {
	font-size: 18px;
	font-weight: bold;
}

.Header nav {
	display: flex;
}

.Header nav a {
	color: rgb(0, 0, 0);
	font-size: 16px;
	margin: 0 10px;
	padding: 2px 10px;
}

.Header nav a:last-child {
	margin-right: 0px;
	padding-right: 0;
}
